.container{
    width: calc(100% - 10vw);
    max-width: 1140px;
    margin: auto;
}
img{
    width: 72%;
    border-style: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    vertical-align: middle;
    display: inline-block;
}
h2 {
    font-size: 2rem;
}

p {
    margin-top: 0;
    margin-bottom: .9rem;
}